<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="consoleMessageRenderer" class="com.cbs.edu.springcore.spring.ConsoleMessageRenderer">
           <constructor-arg ref="helloWorldProvider"/>
    </bean>
    <bean id="userInputProvider" class="com.cbs.edu.springcore.spring.UserInputProvider"/>
    <bean id="helloWorldProvider" class="com.cbs.edu.springcore.spring.HelloWorldProvider"/>
</beans>
